#features-menu li a.icon-csglossary span.icon {
  background:url(images/icon40.png) no-repeat;
}

.feature .feature-atrium_csglossary {
  background:transparent url(images/icon20.png) no-repeat;
}

.feature-atrium_csglossary {
  background:url(images/icon20.png) no-repeat !important;
}
